/*Style-Definitionen für das eiserne ketten blog*/ 

body { 
	background: #fff;
	font-family: Georgia, serif;
	max-width: 100ch;
	}

h1 {color:#0886B5} 
h2 {font-size: 130%}

h4.kontra {
	text-align:right;
	max-width: 100ch;
}

p { 
	text-align:justify;
	max-width: 100ch;
	color: #1f2245;
	line-height: 150%;
	letter-spacing: 0.3px;
}

p.pro { 
	text-align:left;
	max-width: 100ch;
	color: #1f2245;
	line-height: 150%;
	letter-spacing: 0.3px;
}

p.kontra { 
	text-align:right;
	max-width: 100ch;
	color: black;
	line-height: 150%;
	letter-spacing: 0.3px;
}

figure { 
	text-align:justify;
	max-width: 40ch;
}

img { padding: 10pt }

li { font-weight: bold }

nav ul {
	list-style: none;
	padding: 0;
	margin: 0:
}

nav li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 5px 0 0;
	font-size: small;
}

nav li a {
	padding: 0 10px
}

nav li a:link {
	text-decoration:none;
	color:black; 
}

nav li a:visited { 
	text-decoration:none;
	color:black;
}

a:link {
	text-decoration:underline;
	color:black
} 


a:visited {
	color:#08265e;
	text-decoration:none;
}

div.content { 
	<!--width: 1000px-->
}

#selected { 
	padding-bottom: 1px;
	background: white;
}

#nonselected {
	background: #c0c0c0;
}

blockquote {
	color:black;
}
